body, main {
    display: flex;
}

body {
    flex-direction: column;
}

main {
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    color: #ffffff;
    background: rgb(68, 18, 68);
    border-radius: 8px;
}

aside {
    flex: 1;
    overflow-y: auto;
}